body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Haut de page */

/* parent */
.interfaces {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #9CC7F2;
    padding: 0 10rem;
}

/* enfants */
.interface_un {
    width: 40%;
}

.interface_deux {
    width: 40%;
    text-align: right;
}

/* parent */
.interfaces_second {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 10rem;
}

/* enfants */
.logo {
    width: 10%;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.navigation2 {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.menu {
    text-align: right;
    width: 34%;
}

.menu2 {
    width: 4%;
    text-align: right;
}
/* Haut de page */

/* Milieu de page */

/* enfants */
.Textes {
    padding: 0 10rem;
}

h1 {
    font-size: 2.5rem;
}

.primo-milieu {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 250, 238);
}

.tableau {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    padding-bottom: 2rem;
}

button {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 6px;
}

.encadre {
    background-color: #FDFBE0;
    width: 40%;
    border-radius: 6px;
    padding: 1rem;
}

.encadre2 {
    background-color: rgb(235, 238, 251);
    width: 40%;
    border-radius: 6px;
    padding: 1rem;

}

.barre_bleue {
    margin-top: -1.5rem;
    height: 0.5rem;
    background: linear-gradient(90deg, rgba(157, 169, 243, 1) 0%, rgba(156, 197, 242, 1) 100%);;
}

.barre_orange {
    margin-top: -1.5rem;
    height: 0.5rem;
    background: linear-gradient(90deg,rgba(243, 229, 62, 1) 0%, rgba(249, 177, 47, 1) 100%);
}


.no_violet:hover {
    color: blueviolet;
}

.bas_de_page {
    text-align: center;
}

/* parent */
.tritexte {
    display: flex;
}

.background {
    background-color: rgb(255, 250, 238);
    padding-top: 1rem;
    margin-top: 8rem;
}

img {
    padding: 0 14rem;
    width: 35%;
}

.premier_texte {
    text-align: center;
    width: 54.2%;
}

.second_texte {
    text-align: center;
    width: 54.2%;
}

.troisieme_texte {
    text-align: center;
    width: 54.2%;
}

/* footer */
.bas_de_page {
    padding-bottom: 4rem;
}

/* parent */
.tritexte {
    padding: 0 10rem;
}

/* parent */
.titre {
    padding: 0 10rem;
    display: flex;
    padding-bottom: 3rem;
}

.etudiant {
    width: 55%;
}

.employeur {
    width: 40%;
}

.mot {
    width: 100%;
    margin-top: 2rem;
    padding: 0 10rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.partie_trois {
    padding: 0 10rem;
    width: 100%;
    display: flex;
}

.texte {
    width: 40%;
}

.map {
    width: 38%;
    text-align: right;
    margin-top: -7rem;
}

iframe {
    height: 18rem;
    width: 28rem;
}

.dernier {
    margin-top: 8rem;
}