/* parent */
.interfaces {
    border: 2px solid black;
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #9CC7F2;
    padding: 0 10rem;
}

/* enfants */
.interface_un {
    border: 2px solid black;
    width: 40%;
}

.interface_deux {
    border: 2px solid black;
    width: 40%;
    text-align: right;
}

/* parent */
.interfaces_second {
    border: 2px solid black;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 10rem;
}

/* enfants */
.logo {
    border: 2px solid red;
    width: 10%;
    font-size: 1.5rem;
}

.navigation {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.navigation2 {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.menu {
    border: 2px solid black;
    text-align: right;
    width: 34%;
}

.menu2 {
    border: 2px solid black;
    width: 4%;
    text-align: right;
}